body{
	background-color: black;
}
header{
	max-width: 1920px;
	max-height: 268.8px;
	min-height: 80px;
	width: 100%;
	height: 14%;
	padding: 10px;
	background-color: #EAF943;
	position:absolute;
	top: 0%;
	margin: 0%;
}
@font-face{
		font-family: Whitelist-Demo;
		src:url(fuente/Whitelist-Demo.otf);
	}
@font-face{
	font-family: BeautyDream;
		src:url(fuente/BeautyDream.otf);
}
header h1{
	position: relative;
	top: -40%;
	font-size: 500%;
	text-align: center;
	font-family: BeautyDream;
}
a{
	color: black;
	text-decoration: none;
}
.barraNavegacion{
	position: fixed;
	height: 100%;
	width: 7%;
	left: -10%;
	top: 0%;
	background-color: #EAF943;
}
.activa{
	left: 0%;
}
.barraNavegacion li{
	list-style: none;
	text-align: center;
	margin-top: 10%;
	padding: 15% 19% 10% 19%;
	background-color: #7ebcfb;
	border-radius: 15px;
	font-size: 20px;
	font-family: Whitelist-Demo;

}
.botonBarra{
	position: fixed;
	height: 9%;
	width: 2%;
	left: -1%;
	top: 51%;
	border-radius: 10px;
	background-color: #7ebcfb;
	cursor: pointer;
}
.activa2{
	left: 6%;
}
.imagen1{
	width: 38.7%;
	height: 45%;
	position: absolute;
	left: 12%;
	top: 20%;
	background-image: url(imagenes/main/WEB1.png);
	background-repeat: no-repeat;
	border: solid white 5px ;
}
.imagen2{
	width: 38.7%;
	height: 45%;
	position: absolute;
	left: 54.3%;
	top: 20%;
	background-image: url(imagenes/main/WEB3001.png);
	background-repeat: no-repeat;
	border: solid white 5px ;
}
.imagen3{
	width: 38.7%;
	height: 45%;
	position: absolute;
	left: 12%;
	top: 70%;
	background-image: url(imagenes/main/WEB4001.png);
	background-repeat: no-repeat;
	border: solid white 5px ;
}
.imagen4{
	width: 38.7%;
	height: 45%;
	position: absolute;
	left: 54.3%;
	top: 70%;
	background-image: url(imagenes/main/WEB5001.png);
	background-repeat: no-repeat;
	border: solid white 5px ;
}
.imagenText1{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(234,249,67,0.4);
	-webkit-transition:opacity 0.2s;
	opacity: 0;
	font-family: Whitelist-Demo;
	text-align: center;
	font-size: 20px;
}
.imagen1:hover .imagenText1{
	opacity: 1;
}
.imagenText2{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(234,249,67,0.4);
	-webkit-transition:opacity 0.2s;
	opacity: 0;
	font-family: Whitelist-Demo;
	text-align: center;
	font-size: 20px;
}
.imagen2:hover .imagenText2{
	opacity: 1;
}
.imagenText3{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(234,249,67,0.4);
	-webkit-transition:opacity 0.2s;
	opacity: 0;
	font-family: Whitelist-Demo;
	text-align: center;
	font-size: 20px;
}
.imagen3:hover .imagenText3{
	opacity: 1;
}
.imagenText4{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(234,249,67,0.4);
	-webkit-transition:opacity 0.2s;
	opacity: 0;
	font-family: Whitelist-Demo;
	text-align: center;
	font-size: 20px;
}
.imagen4:hover .imagenText4{
	opacity: 1;
}
.Nuestra{
	max-width: 71.5%;
	margin-left: 12%;
	margin-top: 65%;
	border: solid white 5px;
	padding: 0% 10% 4.5% 0%;
	text-align: center;
	color: white;
	font-family: Whitelist-Demo;
	font-size: 30px;
}
.cocinamos{
	max-width: 71.5%;
	margin-left: 12%;
	margin-top: 10%;
	border: solid white 5px;
	padding: 0% 0% 7.2% 10%;
	text-align: center;
	color: white;
	font-family: Whitelist-Demo;
	font-size: 30px;
}
.consultoria{
	max-width: 71.5%;
	margin-left: 12%;
	margin-top: 10%;
	border: solid white 5px;
	padding: 0% 10% 6.4% 0%;
	text-align: center;
	color: white;
	font-family: Whitelist-Demo;
	font-size: 30px;
}
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.marginNuestros{
	margin-left: 12%;
}
.NuestrosClientes{
	max-width: 71.5%;
	margin-top: 10%;
	border: solid black 5px;
	padding: 0% 10.8% 0% 10.8%;
	text-align: center;
	background-color: white;
	font-family: Whitelist-Demo;
	font-size: 30px;
}
.contenedorColumnas{
	display: table-cell;
	background-color: white;
	padding:3% 10% 3% 10%;
	text-align: center;
	border: solid black 5px;
	font-family: Whitelist-Demo;
	font-size: 25px;
}
.contacto{
	max-width: 71.5%;
	margin-left: 12%;
	margin-top: 10%;
	border: solid white 5px;
	padding: 0% 5% 0% 5%;
	text-align: center;
	color: white;
	font-family: Whitelist-Demo;
	font-size: 30px;
}
.foot{
	margin-top: 10%;
	max-width: 1920px;
	margin-left: 0%;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: white;
	text-align: center;
	font-family: Whitelist-Demo;
	font-size: 20px;
}
.form2{
	color: white;
	text-decoration: none;
}
.inglés{
	position: absolute;
	top: 35%;
	right: 10%;
}
.formulario{
	text-align: center;
	margin-top: 15%;
	margin-left: 4%;
	border: solid white 5px;
	color: white;
	padding: 3%;
}
.audio{
	position: absolute;
	margin-left: 80%;
	margin-top: 10%;
}
